charset-normalizer>=3
click<=8.1.8
cookiecutter
GitPython
httpx
mixpanel
packaging
pathspec
psutil
PyYAML
questionary
requests
rich
ruff
semver~=3.0.2
tomlkit
typer>=0.9
typing-extensions>=4.7
uv
websocket-client
